/* Global Styles */
body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

/* Header Styles */
header {
    text-align: center;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rebeccapurple;
}

h1 {
    color: rebeccapurple;
}

/* Main Content Styles */
main {
    padding: 0 100px;
    width: 80%;
}

main p {
    text-align: justify;
    text-indent: 20px;
}

#ulPersonalizada {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 16px;
}

/* Footer Styles */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 16px;
}

/* Navigation Styles */
nav a:hover {
    color: black;
}

#navPersonalizada {
    background-color: rebeccapurple;
    border-radius: 10px;
}
