body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 0px 100px;
    width: 85%;
}


main p{
    text-align:center ;
    text-indent: 20px;
}


a {
    color: white;
    text-decoration: none;
}

h3 {
    text-align:center;
}

h4{
    text-align:center;
}

img {
    width: 330px;
    height: 230px;
    border-bottom: 100%;
    border: 5px solid rebeccapurple;
   
}

.center{
    text-align: center;
}

a:hover {
    color: rebeccapurple;
}

