.introducao-bg {
  background-color: #070066; /* Azul profundo */
  box-shadow: inset 0 -120px #f7f7f7; /* Margem negativa clara */
  color: #f7f7f7; /* Texto em branco para contraste */
  font-family: "Poppins", sans-serif;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
}

.introducao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.introducao h1 {
  font-size: 3rem;
  margin-bottom: 32px;
  font-weight: bold;
}

.introducao p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  color: #b2b2b2; /* Texto secundário em cinza */
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 250px;
}

.introducao-conteudo span {
  color: #f7f7f7 /* Verde esmeralda para destaque */
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao p {
    font-size: 1.2rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr; /* Ajusta para uma coluna */
  }
  .introducao h1 {
    padding-top: 20px;
    font-size: 1.5rem;
  }
  .introducao p {
    font-size: 0.9rem;
  }
  .introducao img {
    width: 100%;
    height: 500px; /* Ajusta a altura da imagem */
  }
  .introducao-conteudo {
    padding-bottom: 50px;
  }
}
