.cardapio {
  margin-top: 100px;
}

.cardapio h2 {
  font-size: 3rem;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Poppins";
}

.cardapio > h2 > span {
  color: #ffffff;
}

.cardapio > ul > li > h3 {
  font-size: 1.4rem;
  font-family: "Poppins";
  font-weight: 500;
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.cardapio > ul > li > h3::before {
  content: "";
  height: 8px;
  width: 12px;
  background-color: #ffffff;
  display: block;
  margin-right: 8px;
  transition: width 0.2s;
}

.cardapio > ul > li:hover h3::before {
  width: 24px;
}

.cardapio > ul > li:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.cardapio-lista {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.cardapio-lista img {
  width: 100%; /* Faz a imagem ocupar todo o espaço disponível */
  max-width: 300px; /* Define um limite de largura */
  height: 200px; /* Altura fixa */
  object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorcer */
  border-radius: 24px; /* Borda arredondada */
}

@media (max-width: 1000px) {
  .cardapio-lista {
    gap: 40px;
  }
  .cardapio h2 {
    font-size: 2rem;
  }
  .cardapio > ul > li > h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 800px) {
  .cardapio-lista {
    gap: 20px;
  }
  .cardapio h2 {
    font-size: 2rem;
  }
  .cardapio > ul > li > h3 {
    font-size: 1.1rem;
  }
}

@media (max-width: 600px) {
  .cardapio h2 {
    font-size: 1.7rem;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .cardapio-lista {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .cardapio > ul > li > h3 {
    font-size: 0.975rem;
  }
}

@media (max-width: 500px) {
  .cardapio h2 {
    font-size: 1.4rem;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .cardapio-lista {
    grid-template-columns: 1fr;
    gap: 70px;
  }
  .cardapio > ul > li > h3 {
    font-size: 1.1rem;
  }
}
